*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms_title{
    color: aquamarine;
}

.ms_subtitle{
    background-color: blue;
    color: white;
}

.ms_container{
    background-color: whitesmoke;
    height: calc(100vh - 113px);
    width: 100vw;
}

.ms_box{
    background-color: white;
    height: 150px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
    margin: 30px;
}

.fas{
    font-size: 50px;
}
